<div id="containerRol" hidden>@Model.rolValidateSession</div>

<div class="container-fluid px-4">

    <div class="tittleModules">
        <h1>
            Gestión de Ventas
        </h1>
    </div>

    <div class="containerBottons">
        <button type="button" id="btn-const" class="btn btn-primary btn-crud" data-toggle="modal" data-target="#ModalFactura" hidden>
            Factura Venta
        </button>
        <button type="button" id="btn-delete" class="btn btn-primary btn-crud" [hidden]="hiddenProperty">
            Devolución
        </button>
        <button type="button" id="btn-update" class="btn btn-primary btn-crud" data-toggle="modal" data-target="#ModalActualizar" [hidden]="hiddenProperty">
            Editar
        </button>
        <button type="button" id="btn-create" class="btn btn-primary " data-toggle="modal" data-target="#ModalCrear">
            Crear
        </button>
    </div>

    <!-- ModalCrear -->
    <div class="modal fade" id="ModalCrear" tabindex="-1" role="dialog" aria-labelledby="ModalCrearLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleModalCrear">Registrar Venta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <form method="post" class="needs-validation" novalidate>

                                <div class="form-group">
                                    <!-- formCreateSale se usa para capturar el dato
                                        y workerList se usa para mostrar el listado de todos los trabajadores-->
                                    <label for="formCreateWorker.workersId">Trabajador</label>
                                    <select [(ngModel)]="formCreateSale.workersId" name="formCreateWorker.workersId" class="form-control" required>
                                        <option value="" selected>Seleccionar...</option>
                                        <option *ngFor="let worker of workerList" value="{{worker.id}}">{{worker.name}}
                                            {{worker.lastName}}</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Seleccionar un trabajador...
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!-- formCreateSale se usa para capturar el dato
                                        y clientList se usa para mostrar el listado de todos los clientes-->
                                    <label for="formCreateSale.clientsId">Cliente</label>
                                    <select [(ngModel)]="formCreateSale.clientsId" name="formCreateSale.clientsId" class="form-control" required>
                                        <option value="" selected>Seleccionar...</option>
                                        <option *ngFor="let client of clientList; index as i" value="{{client.id}}">
                                            {{client.name}} {{client.lastName}}
                                        </option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Seleccionar un cliente...
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!-- inventoryId se usa para capturar el dato y
                                        inventoryList se usa para mostrar el listado de todos los productos-->
                                    <label for="inventoryId">Producto</label>
                                    <select [(ngModel)]="inventoryId" name="inventoryId" id="inventoryId" class="form-control" required>
                                        <option selected value="">Seleccionar...</option>
                                        <option *ngFor="let inventory of inventoryList" value="{{inventory.id}}">
                                            {{inventory.productName}}
                                        </option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Seleccionar un producto del inventario...
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!-- productName se usa para capturar el dato y
                                        inventoryList se usa para mostrar el listado de todos los productos-->
                                    <label for="formCreateSale.salePrice">Precio</label>
                                    <input type="number" [(ngModel)]="formCreateSale.salePrice" name="formCreateSale.salePrice" id="formCreateSale.salePrice" class="form-control" placeholder="Ingrese el precio del producto" aria-describedby="invalid-feedback" minlength="1" step="1" required>
                                    <div class="invalid-feedback">
                                        Ingrese el precio de producto vendido.
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="formCreateSale.productQuantity">Cantidad Producto</label>
                                    <input type="number" [(ngModel)]="formCreateSale.productQuantity" name="formCreateSale.productQuantity" id="formCreateSale.productQuantity" class="form-control" placeholder="Ingrese la cantidad del producto" aria-describedby="invalid-feedback" minlength="1"
                                        step="1" required>
                                    <div class="invalid-feedback">
                                        Ingrese la cantidad de producto vendido.
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-primary" id="btn-create-modal" (click)="createSale()">Crear</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ModalActualizar -->
    <div class="modal fade" id="ModalActualizar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleModalActualizar">Actualizar Venta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <form id="formEditar" class="needs-validation" novalidate>
                                <input type="number" name="idUpdate" id="idUpdate" class="form-control" readonly hidden>
                                <div class="form-group">
                                    <label for="inventarioUpdate">Producto</label>
                                    <select name="inventarioUpdate" id="inventarioUpdate" class="form-control" required>
                                        <option value="">Seleccionar...</option>
                                        <!-- @foreach (var inventario in Model.listadoInventario)
                                        {
                                            @foreach (var productos in Model.listadoProductos){
                                                @if(inventario.ProductoId == productos.Id){ -->
                                        <option class="inventarioUpdateId" id="inventarioUpdateId-@inventario.Id"
                                            value="@inventario.Id">@productos.Nombre</option>
                                        <!-- }
                                            } 
                                        } -->
                                    </select>
                                    <div class="invalid-feedback">
                                        Seleccionar un producto del inventario.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="cantidadProductoUpdate">Cantidad Producto</label>
                                    <input type="number" name="cantidadProductoUpdate" id="cantidadProductoUpdate" class="form-control" placeholder="Ingrese la cantidad del producto" aria-describedby="invalid-feedback" minlength="3" maxlength="50" required>
                                    <div class="invalid-feedback">
                                        Ingrese la cantidad del producto vendido.
                                    </div>
                                </div>
                                <input type="number" name="valorVentaUpdate" id="valorVentaUpdate" class="form-control" hidden>
                                <div class="form-group">
                                    <label for="trabajadorUpdate">Trabajador</label>
                                    <select name="trabajadorUpdate" id="trabajadorUpdate" class="form-control" required>
                                        <option value="">Seleccionar...</option>
                                        <!-- @foreach (var trabajador in Model.listadoTrabajador)
                                        { -->
                                        <option class="trabajadorUpdateId" id="trabajadorUpdateId-@trabajador.Id"
                                            value="@trabajador.Id">@trabajador.Nombre @trabajador.Apellido</option>
                                        <!-- } -->
                                    </select>
                                    <div class="invalid-feedback">
                                        Seleccionar un trabajador.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="clienteUpdate">Cliente</label>
                                    <select name="clienteUpdate" id="clienteUpdate" class="form-control" required>
                                        <option value="">Seleccionar...</option>
                                        <!-- @foreach (var cliente in Model.listadoCliente)
                                        { -->
                                        <option class="clienteUpdateId" id="clienteUpdateId-@cliente.Id"
                                            value="@cliente.Id">@cliente.Nombre @cliente.Apellido</option>
                                        <!-- } -->
                                    </select>
                                    <div class="invalid-feedback">
                                        Seleccionar un cliente.
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="button" id="btn-update-modal" class="btn btn-primary">Actualizar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ModalFactura -->
    <div class="modal fade" id="ModalFactura" tabindex="-1" role="dialog" aria-labelledby="ModalFactura" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleModal">Factura venta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <form method="post">
                                <div class="form-group">
                                    <label for="fechaFacturaVenta">Fecha</label>
                                    <input type="text" name="fechaFacturaVenta" id="fechaFacturaVenta" class="form-control" aria-describedby="placeholder" placeholder="Los valores deben ser cargados automáticamente" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="clienteFacturaVenta">Cliente</label>
                                    <select name="clienteFacturaVenta" id="clienteFacturaVenta" class="form-control" disabled>
                                        <option value="">Seleccionar...</option>
                                        <!-- @foreach (var cliente in Model.listadoCliente)
                                        { -->
                                        <option class="clienteFacturaId" id="clienteFacturaId-@cliente.Id"
                                            value="@cliente.Id">@cliente.Nombre @cliente.Apellido</option>
                                        <!-- } -->
                                    </select>
                                    <div class="invalid-feedback">
                                        Seleccionar un cliente.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="vendedorFacturaVenta">Trabajador</label>
                                    <select name="vendedorFacturaVenta" id="vendedorFacturaVenta" class="form-control" disabled>
                                        <option value="">Seleccionar...</option>
                                        <!-- @foreach (var trabajador in Model.listadoTrabajador)
                                        { -->
                                        <option class="trabajadorFacturaId" id="trabajadorFacturaId-@trabajador.Id"
                                            value="@trabajador.Id">@trabajador.Nombre @trabajador.Apellido</option>
                                        <!-- } -->
                                    </select>
                                    <div class="invalid-feedback">
                                        Seleccionar un trabajador.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="productoFacturaVenta">Producto</label>
                                    <select name="productoFacturaVenta" id="productoFacturaVenta" class="form-control" disabled>
                                        <option value="">Seleccionar...</option>
                                        <!-- @foreach (var inventario in Model.listadoInventario)
                                        {
                                            @foreach (var productos in Model.listadoProductos){
                                                @if(inventario.ProductoId == productos.Id){ -->
                                        <option class="inventarioFacturaId" id="inventarioFacturaId-@inventario.Id"
                                            value="@inventario.Id">@productos.Nombre</option>
                                        <!-- }
                                            } 
                                        } -->
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="cantidadProductoFacturaVenta">Cantidad de Productos</label>
                                    <input type="number" name="cantidadProductoFacturaVenta" id="cantidadProductoFacturaVenta" class="form-control" aria-describedby="placeholder" placeholder="Los valores deben ser cargados automáticamente" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="valorVentaFacturaVenta">Valor Venta</label>
                                    <input type="text" name="valorVentaFacturaVenta" id="valorVentaFacturaVenta" class="form-control" aria-describedby="placeholder" placeholder="Los valores deben ser cargados automáticamente" disabled>
                                </div>
                                <div class="modal-footer">
                                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-primary" onclick="imprimir('ModalFactura')">Imprimir</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tabla general -->
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i> Ventas
        </div>
        <div class="card-body">
            <table datatable class="table row-border hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha Creación</th>
                        <th>Vendedor</th>
                        <th>Cliente</th>
                        <th>Cantidad Producto</th>
                        <th>Valor</th>
                        <th>id inventario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sale of saleList" (click)="RowSelected(sale)">
                        <td scope="row">{{ sale.id.slice(0, 5) }}</td>
                        <td>{{ sale.date.toString().slice(0, 10) }}</td>
                        <td>
                            <div *ngFor="let worker of workerList">
                                <div *ngIf="sale.workersId == worker.id"> {{worker.name + " " + worker.lastName}}</div>
                            </div>
                        </td>
                        <!-- <td>
                            <div *ngFor="let client of clientList">
                                <div *ngIf="sale.clientsId == client.id"> {{client.name + " " + client.lastName}}</div>
                            </div>
                        </td> -->
                        <!-- <td>
                            <div *ngFor="let venta of ventas">
                                {{venta.products[0][0]}}
                            </div>
                        </td> -->
                        <!-- <td>{{ sale.products}}</td> -->

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>