<div id="containerRol" hidden>@Model.rolValidateSession</div>

<div class="container-fluid px-4">

    <div class="tittleModules">
        <h1>
            Gestión de Ventas
        </h1>
    </div>

    <div class="containerBottons">
        <button type="button" id="btn-delete" class="btn btn-primary btn-crud" [hidden]="hiddenProperty"
            (click)="deleteSale()">
            Devolución
        </button>
        <button type="button" id="btn-update" class="btn btn-primary btn-crud" data-toggle="modal"
            data-target="#ModalActualizar" [hidden]="hiddenProperty">
            Editar
        </button>
        <button type="button" id="btn-create" class="btn btn-primary " data-toggle="modal" data-target="#ModalCrear">
            Crear
        </button>
    </div>

    <!-- ModalCrear -->
    <div class="modal fade" id="ModalCrear" tabindex="-1" role="dialog" aria-labelledby="ModalCrearLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleModalCrear">Registrar Venta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <form method="post" class="needs-validation" novalidate [formGroup]="formNewSale">

                                <div class="form-group">
                                    <label for="formCreateWorker.workerName">Vendedor</label>
                                    <select [(ngModel)]="formCreateSale.workerName" name="formCreateWorker.workerName"
                                        class="form-control" required>
                                        <option value="" selected>Seleccionar...</option>
                                        <option *ngFor="let worker of workerList"
                                            value="{{worker.name}} {{worker.lastName}}">{{worker.name}}
                                            {{worker.lastName}}</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Seleccionar un trabajador...
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="formCreateSale.clientName">Cliente</label>
                                    <select [(ngModel)]="formCreateSale.clientName" name="formCreateSale.clientName"
                                        class="form-control" required>
                                        <option value="" selected>Seleccionar...</option>
                                        <option *ngFor="let client of clientList; index as i"
                                            value="{{client.name}} {{client.lastName}}">
                                            {{client.name}} {{client.lastName}}
                                        </option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Seleccionar un cliente...
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="formCreateSale.ProductName">Producto</label>
                                    <select [(ngModel)]="formCreateSale.ProductName" name="formCreateSale.ProductName"
                                        id="formCreateSale.ProductName" class="form-control" required>
                                        <option selected value="">Seleccionar...</option>
                                        <option *ngFor="let inventories of inventoriesList"
                                            value="{{inventories.productName}}">
                                            {{inventories.productName}}
                                        </option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Seleccionar un producto del inventario...
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="formCreateSale.salePrice">Precio</label>
                                    <input type="number" [(ngModel)]="formCreateSale.salePrice" formControlName="precio" name="formCreateSale.salePrice" id="formCreateSale.salePrice" class="form-control" placeholder="Ingrese el precio del producto" aria-describedby="invalid-feedback" minlength="1" step="1" required>
                                    <div class="invalid-feedback">
                                        Ingrese el precio de producto vendido.
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="formCreateSale.productQuantity">Cantidad Producto</label>
                                    <input type="number" [(ngModel)]="formCreateSale.productQuantity" formControlName="cantidad" name="formCreateSale.productQuantity" id="formCreateSale.productQuantity" class="form-control" placeholder="Ingrese la cantidad del producto" aria-describedby="invalid-feedback" minlength="1"
                                        step="1" required>
                                    <div class="invalid-feedback">
                                        Ingrese la cantidad de producto vendido.
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-primary" id="btn-create-modal" [disabled]="!formNewSale.valid" (click)="createSale()">Crear</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ModalActualizar -->
    <div class="modal fade" id="ModalActualizar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleModalActualizar">Actualizar Venta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <form id="formEditar" class="needs-validation" novalidate>

                                <input type="hidden" [(ngModel)]="formUpdateSale.id" name="formUpdateSale.id"
                                    id="formUpdateSale.id" class="form-control" readonly>

                                <div class="form-group">
                                    <label for="formUpdateSale.workerName">Vendedor</label>
                                    <input [(ngModel)]="formUpdateSale.workerName" list="formUpdateSale-workerName"
                                        id="formUpdateSale.workerName" name="formUpdateSale.workerName"
                                        class="form-control">
                                    <datalist id="formUpdateSale-workerName">
                                        <option *ngFor="let worker of workerList"
                                            value="{{worker.name}} {{worker.lastName}}">
                                    </datalist>
                                    <div class="invalid-feedback">
                                        Seleccionar un vendedor...
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="formUpdateSale.clientName">Cliente</label>
                                    <input [(ngModel)]="formUpdateSale.clientName" list="formUpdateSale-clientName"
                                        id="formUpdateSale.clientName" name="formUpdateSale.clientName"
                                        class="form-control">
                                    <datalist id="formUpdateSale-clientName">
                                        <option *ngFor="let client of clientList"
                                            value="{{client.name}} {{client.lastName}}">
                                    </datalist>
                                    <div class="invalid-feedback">
                                        Seleccionar un cliente...
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="formUpdateSale.ProductName">Producto</label>
                                    <input [(ngModel)]="formUpdateSale.ProductName" list="formUpdateSale-ProductName"
                                        id="formUpdateSale.ProductName" name="formUpdateSale.ProductName"
                                        class="form-control">
                                    <datalist id="formUpdateSale-ProductName">
                                        <option *ngFor="let inventories of inventoriesList"
                                            value="{{inventories.productName}}">
                                    </datalist>
                                    <div class="invalid-feedback">
                                        Seleccionar un producto...
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="formUpdateSale.salePrice">Precio</label>
                                    <input type="number" [(ngModel)]="formUpdateSale.salePrice"
                                        name="formUpdateSale.salePrice" id="formUpdateSale.salePrice"
                                        class="form-control" placeholder="Ingrese el precio del producto"
                                        aria-describedby="invalid-feedback" minlength="1" step="1" required>
                                    <div class="invalid-feedback">
                                        Ingrese el precio de producto vendido.
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="formUpdateSale.productQuantity">Cantidad Producto</label>
                                    <input type="number" [(ngModel)]="formUpdateSale.productQuantity"
                                        name="formUpdateSale.productQuantity" id="formUpdateSale.productQuantity"
                                        class="form-control" placeholder="Ingrese la cantidad del producto"
                                        aria-describedby="invalid-feedback" minlength="1" step="1" required>
                                    <div class="invalid-feedback">
                                        Ingrese la cantidad de producto vendido.
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="button" id="btn-update-modal"
                                        class="btn btn-primary" (click)="updateSale()">Actualizar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tabla general -->
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i> Ventas
        </div>
        <div class="card-body">
            <table datatable class="table row-border hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha Creación</th>
                        <th>Vendedor</th>
                        <th>Cliente</th>
                        <th>Nombre del Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sale of saleList" (click)="RowSelected(sale)">
                        <td scope="row">{{ sale.id.slice(0, 5) }}</td>
                        <td>{{ sale.date.toString().slice(0, 10) }}</td>
                        <td> {{sale.workerName}}
                        </td>
                        <td>{{ sale.clientName }}</td>
                        <td>{{ sale.ProductName }}</td>
                        <td>{{ sale.salePrice }}</td>
                        <td>{{ sale.productQuantity }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>