/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}


/* Provide sufficient contrast against white background */

a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    margin-top: 35px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


/* Sticky footer styles
-------------------------------------------------- */

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    /* Vertically center the text there */
}

.tittleModules {
    padding-top: 12px;
}

.containerBottons {
    padding: 10px;
    justify-content: flex-end;
    display: flex;
}

.btn-crud {
    margin-right: 5px;
}

.logo {
    margin-left: 20px;
}

.tittlePageLogo {
    width: 142px !important;
}

.tittleWelcome {
    padding-top: 134PX;
}

.loginbtn {
    width: 100%;
    border-radius: 25px !important;
}

.containerlogin {
    height: 575px !important;
    display: flex;
    flex-direction: row;
    width: 65% !important;
    align-items: center;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%) !important;
}

.containerloginTwo {
    height: 75% !important;
    flex: 1 !important;
}

#layoutAuthentication_content {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.dataLogin {
    padding: 0px 110px 0px 110px;
}

.imagenLogin {
    position: absolute;
    width: 105%;
    height: 134%;
    left: -32px;
    bottom: -49px;
}

.dataTable-wrapper.no-header .dataTable-container {
    border-top: 1px solid #d9d9d9;
}

.dataTable-wrapper.no-footer .dataTable-container {
    border-bottom: 1px solid #d9d9d9;
}

.dataTable-top,
.dataTable-bottom {
    padding: 8px 10px;
}

.dataTable-top>nav:first-child,
.dataTable-top>div:first-child,
.dataTable-bottom>nav:first-child,
.dataTable-bottom>div:first-child {
    float: left;
}

.dataTable-top>nav:last-child,
.dataTable-top>div:last-child,
.dataTable-bottom>nav:last-child,
.dataTable-bottom>div:last-child {
    float: right;
}

.dataTable-selector {
    padding: 6px;
}

.dataTable-input {
    padding: 6px 12px;
}

.dataTable-info {
    margin: 7px 0;
}


/* PAGER */

.dataTable-pagination ul {
    margin: 0;
    padding-left: 0;
}

.dataTable-pagination li {
    list-style: none;
    float: left;
}

.dataTable-pagination a {
    border: 1px solid transparent;
    float: left;
    margin-left: 2px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
    color: #333;
}

.dataTable-pagination a:hover {
    background-color: #d9d9d9;
}

.dataTable-pagination .active a,
.dataTable-pagination .active a:focus,
.dataTable-pagination .active a:hover {
    background-color: #d9d9d9;
    cursor: default;
}

.dataTable-pagination .ellipsis a,
.dataTable-pagination .disabled a,
.dataTable-pagination .disabled a:focus,
.dataTable-pagination .disabled a:hover {
    cursor: not-allowed;
}

.dataTable-pagination .disabled a,
.dataTable-pagination .disabled a:focus,
.dataTable-pagination .disabled a:hover {
    cursor: not-allowed;
    opacity: 0.4;
}

.dataTable-pagination .pager a {
    font-weight: bold;
}


/* TABLE */

.dataTable-table {
    max-width: 100%;
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
}

.dataTable-table>tbody>tr>td,
.dataTable-table>tbody>tr>th,
.dataTable-table>tfoot>tr>td,
.dataTable-table>tfoot>tr>th,
.dataTable-table>thead>tr>td,
.dataTable-table>thead>tr>th {
    vertical-align: top;
    padding: 8px 10px;
}

.dataTable-table>thead>tr>th {
    vertical-align: bottom;
    text-align: left;
    border-bottom: 1px solid #d9d9d9;
}

.dataTable-table>tfoot>tr>th {
    vertical-align: bottom;
    text-align: left;
    border-top: 1px solid #d9d9d9;
}

.dataTable-table th {
    vertical-align: bottom;
    text-align: left;
}

.dataTable-table th a {
    text-decoration: none;
    color: inherit;
}

.dataTable-sorter {
    display: inline-block;
    height: 100%;
    position: relative;
    width: 100%;
}

.dataTable-sorter::before,
.dataTable-sorter::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    right: 4px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    opacity: 0.2;
}

.dataTable-sorter::before {
    border-top: 4px solid #000;
    bottom: 0px;
}

.dataTable-sorter::after {
    border-bottom: 4px solid #000;
    border-top: 4px solid transparent;
    top: 0px;
}

.asc .dataTable-sorter::after,
.desc .dataTable-sorter::before {
    opacity: 0.6;
}

.dataTables-empty {
    text-align: center;
}

.dataTable-top::after,
.dataTable-bottom::after {
    clear: both;
    content: " ";
    display: table;
}

.selected {
    background: #0d6efd;
    color: white;
}

tr.selected:hover {
    background: #0d6efd !important;
    color: white !important;
    --bs-table-hover-color: white !important;
    --bs-table-hover-bg: #0d6efd !important;
}

.bottons {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}